.flip-card {
    background-color: transparent;
    width: 19rem;
    height: 20rem;
    margin: 1rem;
    cursor: pointer;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    white-space: pre-line;
}

.flip-card:hover .flip-card-front,
.flip-card.start .flip-card-front {
    transform: rotateY(180deg);
}

.flip-card:hover .flip-card-back,
.flip-card.start .flip-card-back {
    transform: rotateY(360deg);
}

.flip-card-front,
.flip-card-back {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    border-radius: 1rem;
    overflow: hidden;
    color: white;
    background-color: #073799;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flip-card-back {
    background-color: #073799;
    border-radius: 30px;
    color: white;
    transform: rotateY(180deg);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgFront {
    width: 15rem;
}


.textBack {
    padding: 5%;
    font-size: 1.2rem;
}

.textFront {
    margin-top: 2rem;
    font-size: 2rem;
    font-family: assistant-extraBold;
}

.cards-grid .flip-card.flip-card--large {
    width: 16rem;
    height: 18rem;
}

.flip-card.flipped .flip-card-front {
    transform: rotateY(180deg);
}

.flip-card.flipped .flip-card-back {
    transform: rotateY(360deg);
}

@media (max-width: 1100px) {
    .flip-card {
        width: 16rem;
    }
    
}



.flip-card--FirePractice .flip-card-front,
.flip-card--FirePractice .flip-card-back {
  background-color: white;
  color: black;
}

.flip-card--FirePractice {
    width: 16rem;
    font-family: "assistant";
}

@media (max-height: 650px) {
.flip-card--FirePractice {
    width: 14rem;
    height: 17rem;
}
}
