/* flipWhen */

.title-flipWhen {
    position: relative;
    top: 7rem;
    left: 15rem;
}

.text-flipWhen {
    font-size: 1.7rem;
    position: relative;
    top: 7rem;
    max-width: 50rem;
    text-align: right;
}

.gal-flipWhen {
    cursor: pointer;
    position: relative;
    top: 13rem;
}

.flipWhen-circle {
    position: relative;
    z-index: 5;
    font-size: 2rem;
    border-radius: 30rem;
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateY(40px) scale(0.9);
    animation: appearAnimation 1.7s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.flipWhen-circle1 {
    color: white;
    background-color: #073799;
    width: 12rem;
    height: 12rem;
    bottom: 18rem;
    left: 8rem;
}

.flipWhen-circle2 {
    color: white;
    background-color: #E69907;
    width: 13rem;
    height: 13rem;
    bottom: 8rem;
    right: 38rem;
    animation-delay: 1.5s;
}

.flipWhen-circle3 {
    color: rgb(0, 0, 0);
    background-color: #FFF2B4;
    width: 17rem;
    height: 17rem;
    padding: 1rem;
    bottom: 43rem;
    right: 35rem;
    animation-delay: 2s;
}

.flipWhen-circle4 {
    color: rgb(0, 0, 0);
    background-color: #F2CE57;
    width: 15rem;
    height: 15rem;
    bottom: 40rem;
    left: 10rem;
    animation-delay: 2.5s;
}

.flipWhen-circle5 {
    color: rgb(0, 0, 0);
    background-color: #E7F9FD;
    width: 18rem;
    height: 18rem;
    padding: 1rem;
    bottom: 75rem;
    right: 13rem;
    animation-delay: 0.5s;
}

.flipWhen-circle6 {
    color: white;
    background-color: #CC3132;
    width: 19rem;
    height: 19rem;
    bottom: 70rem;
    right: 10rem;
    animation-delay: 1s;
}


@keyframes appearAnimation {
    0% {
      opacity: 0;
      transform: translateY(40px) scale(0.9);
    }
  
    60% {
      opacity: 1;
      transform: translateY(-5px) scale(1.02);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

@media (max-width: 1150px) {
    .flipWhen-circle1 {
        left: 0rem;
    }

    .flipWhen-circle2 {
        right: 38rem;
    }

    .flipWhen-circle3 {
        right: 35rem;
    }

    .flipWhen-circle4 {
        left: 0rem;
    }

    .flipWhen-circle5 {
        right: 15rem;
    }

    .flipWhen-circle6 {
        right: 17rem;
    }
}

@media (max-height: 830px) {
    .flipWhen-circle1 {
        bottom: 24rem;
    }

    .flipWhen-circle2 {
        bottom: 15rem;
    }

    .flipWhen-circle3 {
        bottom: 47rem;
    }

    .flipWhen-circle4 {
        bottom: 46rem;
    }

    .flipWhen-circle5 {
        bottom: 80rem;
    }

    .flipWhen-circle6 {
        bottom: 78rem;
    }
}

@media (max-height: 650px) {
 .gal-flipWhen {
    cursor: pointer;
    top: 9rem;
    
}


    .flipWhen-circle5 {
        bottom: 83rem;
    }

    .flipWhen-circle6 {
        bottom: 82.5rem;
    }
}

/* FlipWhere */

.title-flipWhere {
    position: relative;
    top: 7rem;
}

.flipWhere-text {
    background-image: url(../assets/images/loactionBackground.svg);
    width: 23rem;
    height: 25rem;
    font-size: 1.5rem;
    padding: 3rem 5.5rem 7rem 5.5rem;
    background-size: 100% 100%;
    color: #ffffff;
}

.flipWhere-content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: 10rem;
}

.flipWhere-map {
    height: 20rem;
}

@media (max-width: 1050px) {
    .flipWhere-map {
        margin: -6rem;
    }
    .flipWhere-text {
        margin: 0;
    }
}

/* FlipStage */

.FlipStage-container {
    height: 35rem;
    width: 45rem;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    color: black;
    font-family: "assistant-semiBold";
    padding: 1rem;
}

.FlipStage-text {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.cards-container {
    display: flex;
    justify-content: center;
}

@media (max-width: 1100px) {
    .intoduction-container {
        width: 35rem;
    }
}

/* FlipHow */

.FlipHow-btn {
    width: 17rem;
    height: 17rem;
    background-color: #E69907;
    border: 5px solid white;
    border-radius: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 2.3rem;
    font-family: "assistant-bold";
    cursor: pointer;
}

.FlipHow-btn-img {
    height: 10rem;
}

.title-FlipHow {
    position: relative;
    top: 7rem;
}

.FlipHow-content {
    display: flex;
    justify-content: center;
    gap: 8rem;
    position: relative;
    top: 15rem;
}




.FlipHow-text-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #E69907;
    border: 3px solid #ffffff;
    border-radius: 14px;
    width: 30rem;
    max-width: 90%;
    padding: 1.5rem 1.8rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    z-index: 100;
    text-align: right;
    white-space: pre-line;
}

/* כפתור סגירה */
 .close-btn {
    position: absolute;
    top: 0.3rem;
    right: 0.7rem;
    background: none;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    font-family: "fredoka";
}

/* כותרת */
.FlipHow-text-box h3 {
    margin: 1rem 0 1rem 0;
    font-family: "assistant-bold";
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
}

/* אזור תוכן */
.FlipHow-text-box .FlipHow-text-content {
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
}

/* טקסט */
.FlipHow-text-box p {
    font-family: "assistant";
    font-size: 1.6rem;
    color: #ffffff;
    line-height: 1.5;
    margin: 1rem;
    flex: 1;
}

.FlipHow-text-img {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem
}


@media (max-height: 650px) {

.FlipHow-content {
    top: 10rem;
}

.FlipHow-text-box {
    top: 20%;
}
}